*{color: rgb(250, 176, 59); font-family: Arial; margin: 0px; padding: 0px;}
body{background-color: rgb(65, 65, 65);}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#090c10;
}
li{
    list-style: none;
    margin: 10px;
}
ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(90, 255, 40);
}
.container{
    padding: 10px;
    color: rgb(65, 65, 65);
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content{
background-color: rgb(49, 48, 48);
color:rgb(54, 54, 54);
padding: 5px;
}
.trend{
    padding: 5px;
background-color: rgb(28, 28, 37);
}
img{
    width: 50px;
    border-radius: 50px;
}